.form-control:disabled {
  color: #bfccd9; }

.form-control[readonly] {
  color: #5a7087; }

.btn {
  padding: 6px 12px;
  height: 40px; }
  .btn-sm {
    padding: 6px 12px;
    height: 32px; }
  .btn-lg {
    padding: 6px 12px;
    height: 48px; }

.brand .btn i,
.breadcrumbs-item--active .txt {
  color: #21262c; }

.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link {
  background-color: transparent; }

.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-text,
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-text,
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-icon,
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-icon,
.aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link .menu-text,
.aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link .menu-arrow,
.aside-menu .menu-nav > .menu-item.menu-item-here > .menu-link .menu-icon {
  color: #005c8a !important; }

.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-heading .menu-bullet.menu-bullet-dot > span,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-link .menu-bullet.menu-bullet-dot > span {
  background-color: #bfccd9; }

.btn.btn-light.dropdown-toggle:after {
  color: #5a7087 !important; }

.toggle {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 32px; }
  .toggle .text {
    font-size: em(18px);
    transform: translate3d(0, 0, 0); }

.brand {
  border-right: 1px solid #eaedf1; }

.aside-fixed .aside-left .menu-nav {
  padding-top: 84px !important; }

.brand {
  width: 280px; }

i {
  color: #21262c;
  font-size: 24px; }

.navi-link:hover i {
  color: #005c8a; }

.login-box {
  padding: 30px;
  border: 1px solid #eaedf1;
  max-width: 540px;
  border-radius: 6px;
  background: #fff; }

.login-background-sub {
  background: #f5f7f9; }

.modal-content {
  border-radius: 6px;
  border: 1px solid #eaedf1;
  box-shadow: 0px 16px 32px rgba(46, 46, 46, 0.4); }

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-light .filter-option,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary .filter-option {
  color: #bfccd9; }

.table th,
.table td {
  border: 1px solid #eaedf1 !important; }

.ult-wrap .btn i {
  color: #5a7087; }

.ult-wrap .btn:hover i {
  color: #005c8a; }

.table-striped > tbody > tr:nth-of-type(even) .sticky-ult {
  background-color: #f5f7f9; }

.table-sticky-ult {
  border-bottom: 1px solid #eaedf1; }

.bootstrap-select.form-control-sm .dropdown-toggle {
  height: 32px; }

.sort-asc {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.75' height='10' viewBox='0 0 8.75 10'%3E%3Cpath id='ic_arrow_down' d='M5.006,8.122,7.844,5.3l.906.887L5.289,9.63a1.244,1.244,0,0,1-.914.37,1.244,1.244,0,0,1-.914-.37L0,6.184.906,5.3,3.744,8.122V0H5.006Z' transform='translate(8.75 10) rotate(180)' fill='%23fff'/%3E%3C/svg%3E%0A"); }

.sort-desc {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.75' height='10' viewBox='0 0 8.75 10'%3E%3Cpath id='ic_arrow_down' d='M5.006,8.122,7.844,5.3l.906.887L5.289,9.63a1.244,1.244,0,0,1-.914.37,1.244,1.244,0,0,1-.914-.37L0,6.184.906,5.3,3.744,8.122V0H5.006Z' fill='%23fff'/%3E%3C/svg%3E"); }

.label-title {
  color: #5a7087; }

.checkbox > span,
.checkbox > input[readonly] ~ span,
.radio > span,
.radio > input[readonly] ~ span {
  border: 1px solid #bfccd9 !important; }

.radio > input:checked[readonly] ~ span {
  background-color: #ffffff; }
  .radio > input:checked[readonly] ~ span:after {
    background-color: #005c8a; }

.checkbox > input:checked:not([readonly]) ~ span,
.radio > input:checked:not([readonly]) ~ span {
  border-color: #005c8a !important; }

.checkbox > input[readonly] ~ span:before,
.bootstrap-select .dropdown-menu.inner > li.selected a:after {
  color: #005c8a !important; }

.signnature-box::before {
  background-color: #f5f7f9; }

.bootstrap-timepicker-widget table td > a span {
  color: #5a7087 !important; }

.form-control:hover,
.checkbox input:not(:disabled):not(:checked) ~ span:hover,
.radio input:not(:disabled):not(:checked) ~ span:hover,
.bootstrap-select > .dropdown-toggle.bs-placeholder.btn:hover {
  border-color: #bfccd9 !important; }

.btn.btn-light:hover:not(.btn-text):not(:disabled):not(.disabled) {
  border-color: #bfccd9 !important; }

.datepicker {
  border-radius: 3px !important; }

.table > thead > tr > th {
  color: white;
  background-color: #004466;
  vertical-align: middle; }

.btn-link i {
  color: #005c8a; }

.alert.alert-custom.alert-light-info .alert-text {
  color: #0b6d8e !important; }

.alert.alert-custom.alert-light-danger .alert-text {
  color: #8e0b0b !important; }

.alert.alert-custom.alert-light-warning .alert-text {
  color: #995400 !important; }

.btn-white-link {
  color: #005c8a !important; }

.modal-alert .modal-body {
  color: #5a7087; }

.wizard.wizard-3 .wizard-nav .wizard-steps {
  display: flex;
  align-items: flex-end; }
  .wizard.wizard-3 .wizard-nav .wizard-steps .wizard-step {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-right: 1rem; }
    .wizard.wizard-3 .wizard-nav .wizard-steps .wizard-step:last-child {
      margin-right: 0; }
    .wizard.wizard-3 .wizard-nav .wizard-steps .wizard-step .wizard-label {
      flex: 1;
      display: flex;
      flex-direction: column;
      color: #bfccd9;
      padding: 2rem 0.5rem; }
      .wizard.wizard-3 .wizard-nav .wizard-steps .wizard-step .wizard-label .wizard-title {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
        flex-wrap: wrap; }
        .wizard.wizard-3 .wizard-nav .wizard-steps .wizard-step .wizard-label .wizard-title span {
          font-size: 2rem;
          margin-right: 0.5rem; }
      .wizard.wizard-3 .wizard-nav .wizard-steps .wizard-step .wizard-label .wizard-bar {
        height: 4px;
        width: 100%;
        background-color: #EBEDF3;
        position: relative; }
        .wizard.wizard-3 .wizard-nav .wizard-steps .wizard-step .wizard-label .wizard-bar:after {
          content: " ";
          position: absolute;
          top: 0;
          left: 0;
          height: 4px;
          width: 0;
          background-color: transparent;
          transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease; }
    .wizard.wizard-3 .wizard-nav .wizard-steps .wizard-step[data-wizard-state="current"] .wizard-label {
      color: #005c8a; }
      .wizard.wizard-3 .wizard-nav .wizard-steps .wizard-step[data-wizard-state="current"] .wizard-label .wizard-bar:after {
        width: 100%;
        background-color: #005c8a; }

@media (max-width: 991.98px) {
  .wizard.wizard-3 .wizard-nav .wizard-steps {
    flex-direction: column;
    align-items: flex-start; }
    .wizard.wizard-3 .wizard-nav .wizard-steps .wizard-step {
      flex: 0 0 100%;
      position: relative;
      width: 100%; }
      .wizard.wizard-3 .wizard-nav .wizard-steps .wizard-step .wizard-label {
        justify-content: flex-start;
        flex: 0 0 100%;
        padding: 1rem 0; } }

/*# sourceMappingURL=../../map/pages/wizard/wizard-3.css.map */
