/*
css for paging
*/
.btn-light {
  border-radius: 15%;
}

#kt_datatable2_paginate {
  float: right;
  z-index: 0;
}

/* .paginate_button.page-item.last {
  display: none
}
.paginate_button.page-item.first {
  display: none
} */